.description ul li {
    list-style-type: none;
}

.description ul {
    padding: 0%;
    margin: 0%;
}

.description {
    padding-left: 8%;
    padding: 3%;
    color: white;
}

.myCard {
    color: #000000;
    display: flex;
    /* background-color: rgba(255, 239, 100, 1); */
    margin: 2% 0%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    border-radius: 2rem;
    background-color: #474E68;
}

#system {
    /* padding-top: 3rem; */
    display: flex;
    flex-direction: column;
    background-color: #6B728E;
    border-radius: 1rem;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.enrollForm {
    width: 70%;
    margin: auto;
    padding: 3%;
}

input[type=text] {
    margin-right: 10%;
    width: 50%;
}

input[type=email] {
    width: 50%;
    margin-right: 10%;
}

.label {
    display: inline-block;
    width: 12%;
}

.card-Div {
    width: auto;
}

.image img {
    width: 60%;
    float: right;
    margin: 8%;
}

.enrollForm {
    width: 70%;
    margin: auto;
    padding: 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

body {
    color: white;
}

input {
    padding: 1%;
}

form label span {
    visibility: hidden;
}

label {
    font-size: large;
}

button {
    font-size: large;
    padding: 1% 12%;
    margin-left: 1rem;
    margin-top: 5%;
    border-radius: 1rem;
    cursor: pointer;
    /* background-color: rgb(128, 247, 128); */
}

input {
    margin: 1%;
}

.clear {
    background-color: hsl(235deg 16% 30%);
    color: white;
    cursor: pointer;
}